<section class="cookie">
    <div class="cookie__inner">
        <div class="cookie__content">
            <span class="icon-cookie-fill"></span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet repudiandae possimus nostrum non, atque expedita? Enim!</p>
        </div>
        <div class="cookie__btns">
            <a href="#" class="cookie__btn">Details</a>
            <button class="cookie__btn cookie__btn-accept btn btn_prim"><span class="icon-mark"></span> <span>Accept</span></button>
        </div>
    </div>
</section>