<footer class="footer">
    <div class="container">
        <div class="footer__row">
            <div class="footer__column">
                <div class="footer__logo"><a href="/index.html"><img src="img/logo.svg" alt="logo image" loading="lazy" width="150" height="50"></a></div>
                <div class="footer__descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium exercitationem dolore praesentium eveniet, officia perferendis?</div>
            </div>
            <div class="footer__column">
                <div class="footer__caption">Service</div>
                <nav class="footer__nav">
                    <ul class="menu">
                        <li class="menu-item"><a href="#">lorem</a></li>
                        <li class="menu-item"><a href="#">lorem ipsum</a></li>
                        <li class="menu-item"><a href="#">lorem dolor</a></li>
                        <li class="menu-item"><a href="#">lorem</a></li>
                        <li class="menu-item"><a href="#">lorem dolor</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer__column">
                <div class="footer__caption">Info</div>
                <nav class="footer__nav">
                    <ul class="menu">
                        <li class="menu-item"><a href="#">lorem</a></li>
                        <li class="menu-item"><a href="#">lorem ipsum</a></li>
                        <li class="menu-item"><a href="#">lorem dolor</a></li>
                        <li class="menu-item"><a href="#">lorem</a></li>
                        <li class="menu-item"><a href="#">lorem dolor</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer__column">
                <div class="footer__caption">Contacts</div>
                <div class="footer__contacts">
                    <a href="tel:+123456789"><span class="icon-phone"></span><span>+1 (234) 567 89</span></a>
                    <a href="mailto:mail@test.com"><span class="icon-mail"></span><span>mail@test.com</span></a>
                    <span><span class="icon-delivery"></span><span>MON - FRI: 8AM-4PM (EST)</span></span>
                </div>
                <div class="footer__socials">
                    <a href="#"><span class="icon-facebook"></span></a>
                    <a href="#"><span class="icon-twitter"></span></a>
                    <a href="#"><span class="icon-instagram"></span></a>
                    <a href="#"><span class="icon-viber"></span></a>
                    <a href="#"><span class="icon-whatsapp"></span></a>
                    <a href="#"><span class="icon-youtube"></span></a>
                </div>
            </div>
        </div>
        <div class="footer__logos"><span class="footer__logos-item"><img src="img/footer/visa.png" alt="logo visa" loading="lazy" width="53" height="20"></span><span class="footer__logos-item"><img src="img/footer/mastercard.png" alt="logo mastercard" loading="lazy" width="53" height="20"></span><span class="footer__logos-item"><img src="img/footer/bizum.png" alt="logo bizum" loading="lazy" width="53" height="20"></span></div>
        <div class="footer__copyright">Copyright © 2024. Farmacia. All rights reserved.</div>
    </div>
</footer>