<% for (let i = 0; i < count; i++) { %>
<div class="acc" itemprop="mainEntity" itemscope="" itemtype="https://schema.org/Question">
    <div class="acc__inner">
        <button class="acc__head">
            <p itemprop="name">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p><span class="icon-arrow"></span>
        </button>
        <div class="acc__body" itemprop="acceptedAnswer" itemscope="" itemtype="https://schema.org/Answer">
            <div itemprop="text">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, ut? Quam perspiciatis esse minima dignissimos, facilis quaerat cum veritatis labore doloribus vero nam assumenda tempora totam voluptates fuga enim accusantium?</p>
            </div>
        </div>
    </div>
</div>
<% } %>