<ul class="cart-list">
    <% for (let i = 0; i < count; i++) { %>
    <li class="cart-list__item cart-item">
        <a href="#" class="cart-item__inner">
            <div class="cart-item__image"><img src="img/products/test.webp" alt="image product" loading="lazy" width="100" height="100"></div>
            <div class="cart-item__content">
                <h3 class="cart-item__title">Nootropil</h3>
                <div class="cart-item__info">
                    <div class="cart-item__price">
                        <del class="cart-item__old-price">50 €</del>
                        <div class="cart-item__current-price">34.36 €</div>
                    </div>
                    <div class="cart-item__discount">-31%</div>
                </div>
            </div>
            <button class="cart-item__remove"><span class="icon-close"></span></button>
        </a>
    </li>
    <% } %>
</ul>