<div class="products__pagination">
    <ul class="pagination-list">
        <li class="pagination-item"><a title="Перейти на 1 страницу из 70" class="current" href="#">1</a></li>
        <li class="pagination-item"><a class="paginate" title="Перейти на 2 страницу из 70" href="#">2</a></li>
        <li class="pagination-item"><a class="paginate" title="Перейти на 3 страницу из 70" href="#">3</a></li>
        <li class="pagination-item"><a class="paginate" title="Перейти на 4 страницу из 70" href="#">4</a></li>
        <li class="pagination-item"><a class="paginate" title="Перейти на 5 страницу из 70" href="#">5</a></li>
        ...
        <li class="pagination-item"><a class="paginate" title="Перейти на 70 страницу из 70" href="#">70</a></li>
    </ul>
</div>