<ul class="products-list">
    <% for (let i = 0; i < count; i++) { %>
    <li class="products-list__item product-card" itemscope itemtype="https://schema.org/Product">
        <meta itemprop="name" content="Nootropil" />
        <link itemprop="url" href="/product.html" />
        <link itemprop="image" href="img/products/test.webp" />
        <meta itemprop="model" content="Nootropil" />
        <meta itemprop="productID" content="Nootropil" />
        <meta itemprop="category" content="category" />
        <div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
            <meta itemprop="ratingValue" content="4.5">
            <meta itemprop="reviewCount" content="2">
        </div>
        <div itemprop="offers" itemscope itemtype="https://schema.org/Offer">
            <meta itemprop="priceCurrency" content="EUR" />
            <meta itemprop="price" content="34.36" />
            <link itemprop="availability" href="https://schema.org/InStock" />
        </div>
        <a href="/product.html" class="product-card__inner">
            <div class="product-card__top">
                <div class="product-card__image">
                    <img src="img/products/test.webp" alt="image product" loading="lazy" width="207" height="180">
                    <div class="product-card__discount"><span class="product-card__discount-text">Discount</span><span class="product-card__discount-value">-31%</span></div>
                    <button class="product-card__save"><span class="icon-heart"></span></button>
                </div>
                <div class="product-card__content">
                    <h3 class="product-card__title">Nootropil</h3>
                    <div class="product-card__stock"><span class="icon-mark"></span><span class="product-card__stock-value">5</span> in stock</div>
                </div>
            </div>
            <div class="product-card__bottom">
                <div class="product-card__price">
                    <del class="product-card__old-price">50 €</del>
                    <div class="product-card__current-price">34.36 €</div>
                </div>
                <button class="product-card__buy btn btn_prim"><span class="icon-cart-fill"></span>To Cart</button>
            </div>
        </a>
    </li>
    <% } %>
</ul>