<ul class="header-form__search-list search-list">
    <% for (let i = 0; i < count; i++) { %>
    <li class="search-list__item search-item">
        <a href="#" class="search-item__inner">
            <div class="search-item__image"><img src="img/products/test.webp" alt="image product" loading="lazy" width="100" height="100"></div>
            <div class="search-item__content">
                <div class="search-item__info">
                    <div class="search-item__title">Nootropil</div>
                    <div class="search-item__price">34.36 €</div>
                </div>
                <div class="search-item__discount">-31%</div>
            </div>
            <div class="search-item__btn btn btn_prim">Buy</div>
        </a>
    </li>
    <% } %>
</ul>